<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  </head>
  <body>
    <div class="container">
      {{range .Messages}}
      <div class="card">
        <div class="card-body">
          <div class="badge badge-primary">{{.User}}</div>
          <div class="badge badge-secondary">{{.Time}}</div>
          <div class="badge badge-tertiary">{{.Content}}</div>
        </div>
      </div>
      {{end}}
      <div class="card">
        <div class="card-body">
          <div class="form-control">
            <textarea type="text" placeholder="Enter your message" class="textarea textarea-bordered"></textarea>
          </div>
          <button class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </body>
</html>
